.container {
    background: #E5E5E5;

    .scrollContainer {
        position: absolute;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        bottom: 0;
        left: 130px;
        cursor: pointer;
        justify-content: center;
        width: auto;
        height: 24px;

        .scrollIcon {
            height: 24px;
            transition: all 0.35s ease-out;
            &:hover {
                background-color: #f4f0ec;
                // border: 1px solid white;
                border-radius: 50%;
            }
        }
        .scrollText {
            margin-left: 8px;
            font-family: Spartan;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 13px;
            color: #928A97;    
            transition: all 0.35s ease-out;
            margin-top: 2px;
            &:hover {
                color: white;
                font-size: 13px;
                line-height: 14px;
            }
        }
    }
    .homeBg {
        position: absolute;
        height: 1360px;
        width: 100%;
    }
    .homeContainer {
        position: relative;
        width: 1180px;
        margin: auto;

        .content {
            padding: 30px 20px;
            margin-top: 200px;
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                flex-direction: column;

                .heading {
                    width: auto;
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 38px;
                    line-height: 43px;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;
                    -webkit-text-stroke: 1.5px #FFFFFF;
                    // color: #FFFFFF;
                }
                .subheading {
                    margin-top: 16px;
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 27px;
                    color: #FFFFFF;
                }
            }

        }
    }

    .socialContainer {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: auto;
        max-width: 200px;
        margin-top: 30px;

        .socialIcon {
            margin-left: 18px;
            height: 36px;
            width: 36px;

            &:hover {
                background-color: #f4f0ec;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        :nth-child(1) {
            margin-left: 0px;
        }            
    }

    .aboutSection {
        width: 100%;
        position: relative;
        .abtContainer {
            max-width: 1170px;
            margin: 250px auto 30px;
            position: relative;
            display: flex;
            z-index: 1;
            .aboutBg {
                position: absolute;
            }
            .aboutImage {
                position: relative;
                height: 553px;
                width: 400px;
                margin-left: 50px;
                margin-top: 36px;
            }
            .content {
                margin: 100px;
                margin-right: 0px;
                width: 600px;
                display: flex;
                flex-direction: column;

                .caption {
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 36px;
                    color: #F44336;
                }
                .description {
                    margin-top: 35px;
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 170%;
                    color: #000C24;
                }
                .aboutBtn {
                    margin-top: 50px;
                    justify-content: center;
                    align-items: center;
                    height: 53px;
                    width: 170px;
                    color: white;
                    background: #000C24;
                    border-radius: 4px;

                    font-family: Spartan;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 128.7%;
                    cursor: pointer;
                    transition: all 0.2s ease-out;

                    &:hover {
                        background: #021b4f;
                        height: 54px;
                        width: 171px;
                    }
                }
            }
        }
        .skillBg {
            position: absolute;
            width: 66%;
            height: 1700px;
            right: 0px;
            top: 185px;
            z-index: 0;
        }
    }
    .skillSection {
        width: 100%;    
        position: relative;
        


        .skillContainer {
            width: 1180px;
            margin: 200px auto 30px;
            position: relative;
            display: flex;
            flex-direction: row-reverse;

            .skillImgBg {   
                position: absolute;
                top: -38px;
                right: -48px;
            }
            .skillImage {
                position: relative;
                height: 653px;
                width: 400px;
            }
            .content {
                margin: 100px;
                margin-left: 0px;
                margin-right: 150px;
                width: 600px;
                display: flex;
                flex-direction: column;

                .caption {
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 36px;
                    color: #F44336;
                }
                .description {
                    margin-top: 35px;
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 170%;
                    color: #000C24;
                }
                .skillSetContainer {
                    margin-top: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 620px;
                    gap: 40px 72px;
                }
            }
        }
    }
    .beInTouch {
        width: 100%;
        height: 630px;
        position: relative;

        .bg {
            width: 100%;
            height: 500px;
            z-index: 0;
        }
        .bitContainer {
            width: 1258px;
            height: 486px;
            margin: auto;
            background: white;
            display: flex;
            position: relative;
            top: 72px;
            border-radius: 16px;
            
            .text {
                width: 428px;
                margin: auto;
                margin-left: 38px;
                font-family: Spartan;
                font-style: normal;
                font-weight: 600;
                font-size: 38px;
                line-height: 46px;
                color: #000C24;
            }
            .rhs {
                display: flex;
                flex-direction: column;
                margin-top: 32px;
                margin-left: 64px;
                margin-right: 38px;
                width: 690px;

                .title {
                    font-family: 'Spartan';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 36px;
                    color: #F44336;
                }
                .form {
                    display: flex;
                    flex-direction: column;
                    margin-top: 32px;

                    .inputShort {
                        margin-bottom: 24px;
                        height: 52px;
                        width: 690px;
                    }
                    .inputLong {
                        margin-bottom: 24px;
                        height: 100px;
                        width: 690px;
                    }
                    .input {
                        height: 100%;
                        width: 100%;
                        border-radius: 5px;
                        font-size: 20px;
                        line-height: 20px;
                        padding-top: 0px;
                        padding-left: 10px;
                        font-family: Spartan;
                        font-style: normal;
                        font-weight: 500;
                        vertical-align: top;
                        
                        &::placeholder {
                            font-weight: 400;
                            top: 0;
                            color: #928A97;
                        }
                    }
                    .longText {
                        padding: 10px;
                    }
                    .submitBtn {
                        margin-top: 24px;
                        justify-content: center;
                        align-items: center;
                        height: 53px;
                        width: 170px;
                        color: white;
                        background: #000C24;
                        border-radius: 4px;
    
                        font-family: Spartan;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 128.7%;
                        cursor: pointer;
                        transition: all 0.2s ease-out;
    
                        &:hover {
                            background: #021b4f;
                        }
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        position: relative;
        background: #000C24;
        height: 200px;
        bottom: 0px;
        overflow: hidden;

        .footerRhsBg {
            position: absolute;
            right: 20px;
            height: 211px;
            width: 230px;
            top: -6px;
        }
        .footerContent {
            margin: auto;
            max-width: 350px;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            text-align: center;

            .socialContainer {
                margin-top: 32px;
            }
            .text {
                font-family: 'Spartan';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                color: #FFFFFF;
                text-align: center;
            }
            .copyright {
                margin-top: 28px;
                font-family: 'Spartan';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #FFFFFF;
                text-align: center;
            }
        }
    }
}