.navbarElement {
    width: auto;
    height: 20px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #928A97;
    cursor: pointer;
    z-index: 2;
}
.isActive {
    color: #F44336;
    font-weight: bolder;
    &:hover {
        color: #F44336;
    }
}