.navbarElement {
    width: 58px;
    height: 20px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #928A97;
    cursor: pointer;
}
.isActive {
    color: #F44336;
}