.container {
    .homeBg {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .homeContainer {
        .navBg {
            position: relative;
            height: 111.85px;
            width: 151.05px;
            margin-top: 30px;
            margin-left: 50px;
        }
        position: absolute;
    }
}