.container {
    .scrollContainer {
        position: absolute;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        bottom: 0;
        left: 130px;
        cursor: pointer;
        justify-content: center;
        width: auto;
        height: 24px;

        .scrollIcon {
            height: 24px;
            transition: all 0.35s ease-out;
            &:hover {
                background-color: #f4f0ec;
                // border: 1px solid white;
                border-radius: 50%;
            }
        }
        .scrollText {
            margin-left: 8px;
            font-family: Spartan;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 13px;
            color: #928A97;    
            transition: all 0.35s ease-out;
            margin-top: 2px;
            &:hover {
                color: white;
                font-size: 13px;
                line-height: 14px;
            }
        }
    }
    .homeBg {
        position: absolute;
        height: 1360px;
        width: 100%;
    }
    .navBg {
        position: absolute;
        height: 111.85px;
        width: 151.05px;
        margin-top: 30px;
        margin-left: 100px;
    }
    .homeContainer {
        position: relative;
        margin-left: 100px;

        .content {
            padding: 30px;
            margin-top: 200px;
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                flex-direction: column;

                .heading {
                    width: auto;
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 38px;
                    line-height: 43px;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;
                    -webkit-text-stroke: 1.5px #FFFFFF;
                    // color: #FFFFFF;
                }
                .subheading {
                    margin-top: 16px;
                    font-family: Spartan;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 27px;
                    color: #FFFFFF;
                }
            }
            .socialContainer {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 200px;
                margin-top: 30px;

                .socialIcon {
                    height: 36px;
                    width: 36px;

                    &:hover {
                        background-color: #f4f0ec;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .aboutSection {
        margin-top: 250px;
        position: relative;
        display: flex;
        margin-left: 100px;     
        margin-bottom: 30px;
        padding: 0px 30px;

        .aboutBg {
            position: absolute;
        }
        .aboutImage {
            position: relative;
            height: 553px;
            width: 400px;
            margin-left: 50px;
            margin-top: 36px;
        }
        .content {
            margin: 100px;
            margin-right: 0px;
            width: 600px;
            display: flex;
            flex-direction: column;

            .caption {
                font-family: Spartan;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 36px;
                color: #F44336;
            }
            .description {
                margin-top: 35px;
                font-family: Spartan;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 170%;
                color: #000C24;
            }
            .aboutBtn {
                margin-top: 50px;
                justify-content: center;
                align-items: center;
                // padding: 16px 24px;
                height: 53px;
                width: 170px;
                color: white;
                background: #000C24;
                border-radius: 4px;

                font-family: Spartan;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 128.7%;
                cursor: pointer;
                transition: all 0.2s ease-out;

                &:hover {
                    background: #021b4f;
                    height: 54px;
                    width: 171px;
                }
            }
        }
    }
    .skillSection {
        margin-top: 250px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        margin-left: 100px;     
        margin-bottom: 30px;
        padding: 0px 30px;
        
        .skillBg {
            position: absolute;
            width: 75%;
            height: 1700px;
            right: 0px;
            top: -700px;
        }
        .skillImgBg {   
            position: absolute;
            right: 131px;
            top: -1px;
        }
        .skillImage {
            position: relative;
            height: 553px;
            width: 400px;
            margin-right: 150px;
            margin-top: 36px;
        }
        .content {
            margin: 100px;
            margin-left: 0px;
            margin-right: 150px;
            width: 600px;
            display: flex;
            flex-direction: column;

            .caption {
                font-family: Spartan;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 36px;
                color: #F44336;
            }
            .description {
                margin-top: 35px;
                font-family: Spartan;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 170%;
                color: #000C24;
            }
            .skillBtn {
                margin-top: 50px;
                justify-content: center;
                align-items: center;
                // padding: 16px 24px;
                height: 53px;
                width: 170px;
                color: white;
                background: #000C24;
                border-radius: 4px;

                font-family: Spartan;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 128.7%;
                cursor: pointer;
                transition: all 0.2s ease-out;

                &:hover {
                    background: #021b4f;
                    height: 54px;
                    width: 171px;
                }
            }
        }
    }
}